name: List Buckets

on: workflow_dispatch

jobs:
  check-buckets:
    runs-on: ubuntu-latest
    steps:
      - name: バケット一覧を表示
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          PLAN_ID: 'E4IcGEnHOUalieUARPGTcvoAHqmv'
        run: |
          az login --service-principal -u "$AZURE_CLIENT_ID" -p "$AZURE_CLIENT_SECRET" -t "$AZURE_TENANT_ID" --allow-no-subscriptions > /dev/null
          TOKEN=$(az account get-access-token --resource https://graph.microsoft.com --query accessToken -o tsv)
          
          echo "▼▼▼ バケット一覧 ▼▼▼"
          curl -s -X GET -H "Authorization: Bearer $TOKEN" \
            "https://graph.microsoft.com/v1.0/planner/plans/$PLAN_ID/buckets" | jq -r '.value[] | "\(.name) : \(.id)"'
          echo "▲▲▲▲▲▲"
